*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-image: url(https://images.pexels.com/photos/821644/pexels-photo-821644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}

.container{
  width: 80%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card{
  display: grid;
  flex-wrap: wrap;
  margin: 30px;
  width: 60vw;
  height: 25vh;
  padding: 25px;
  border: none;
  border-radius: 15px;
  background-color:rgba(24, 23, 23, 0.527);
}

label{
  font-size: 1.5rem;
  color: white;
}

input{
  color: white;
  margin-top: 20px;
  width: 100%;
  border: none;
  background-color: rgb(24, 23, 23, 0);
  border-bottom: solid 2px rgb(255, 255, 255);
  outline: none;
}

button{
  width: 100%;
  margin-top: 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px 0px;
  background-color: rgba(85, 83, 82, 0.753);
  color: white;
}

.bg-img {
  width: 40%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card-info{
  color: white;
  text-align: center;
}

h2{
  margin-bottom: 15px;
}
p{
  margin-bottom: 15px;
}
